/*

▒█▀▄▀█ █▀▀ █▀▀▄ ░▀░ █▀▀█ 　 ▒█▀▀█ █░░█ █▀▀ █▀▀█ ░▀░ █▀▀ █▀▀
▒█▒█▒█ █▀▀ █░░█ ▀█▀ █▄▄█ 　 ▒█░▒█ █░░█ █▀▀ █▄▄▀ ▀█▀ █▀▀ ▀▀█
▒█░░▒█ ▀▀▀ ▀▀▀░ ▀▀▀ ▀░░▀ 　 ░▀▀█▄ ░▀▀▀ ▀▀▀ ▀░▀▀ ▀▀▀ ▀▀▀ ▀▀▀

*/


/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* >>>>>>>> I M P O R T A N T ! <<<<<<<<< */
/* !!!!!!!!!!!!!!!!!!!!!!!! */

/* >>>>> LG/XL <<<<< */


/* >>>>> SM/XS <<<<< */
@media screen and (max-width: 767px){
    #rb_bcollapse_1 {
        position: absolute;
        left: 0;
        width: 100%;
        margin-top: 46px;
        background: rgba(54, 54, 54, 0.9);
        border-top: 2px solid #8fc93a;
        padding-bottom: 6px;
        padding-top: 6px;
    }
}

@media screen and (max-width: 414px){
    #rb_bcollapse_1 {
        margin-top: 26px;
    }
}


@media screen and (max-width: 767px){
    #rb_bcollapse_2 {
        position: absolute;
        top: 52px;
        left: 0;
        width: 100%;
        margin-top: 46px;
        background: rgba(54, 54, 54, 0.9);
        border-top: 2px solid #8fc93a;
        padding-bottom: 6px;
        padding-top: 6px;
    }
}





/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* -------- NAV & HEADER ---------- */
/* !!!!!!!!!!!!!!!!!!!!!!!! */



/* >>>>> SM/XS <<<<< */
@media screen and (max-width: 1199px){
    img.rb_main_logo {width: 35%;}
    .rb_navstripe {position: relative; top: -20px;}

    .rb_macbook {width: 610px;}
    .h_banner h1 {font-size: 62px;}
}

@media screen and (max-width: 1099px){
    img.rb_main_logo {display: none;}
    img.rb_main_logo_cropped {display: block; width: 35%;}

    .rb_macbook {width: 590px; right: 20%;}

    .h_banner {margin-top: 28%; padding-left: 0;}

    .rb_navstripe {top: 20px;}
    .h_banner h1 {font-size: 48px;}
    .h_banner h4 {font-size: 20px;}
    a.help_with_upload {font-size: 1rem; line-height: 2;}
}

@media screen and (max-width: 1064px){
    .rb_navstripe {top: -20px;}
}

@media screen and (max-width: 991px){
    .macbook_holder {margin-top: 33%;}
    .rb_macbook {width: 490px; height: 330px;}

    .h_banner {margin-top: 38%; right: 5%;}
}

@media screen and (max-width: 934px){
    a.navbarhex {height: 12px; width: 141px; font-size: 0.7rem; padding-top: 4px; line-height: 0.1 !important;}
}

@media screen and (max-width: 840px){
    ul.rb_navstripe li {margin-right: 4px; }
    a.standard_linx {font-size: 0.77rem;}

    .h_banner h1 {font-size: 32px;}
    .h_banner h4 {font-size: 18px;}
    a.help_with_upload {font-size: 0.77rem; line-height: 2.6;}

    .lifesaver {font-size: 1.6rem;}

    .rb_macbook {right: 30%;}
    .h_banner {margin-top: 39%; right: 0;}
}

@media screen and (max-width: 767px){
    .h_banner {margin-top: 25%; padding-left: 20px;}

    .h_banner h1 {font-size: 62px;}
    .h_banner h4 {font-size: 32px;}
    a.help_with_upload {font-size: 1rem; line-height: 2;}

    .lifesaver {font-size: 2rem;}

    .macbook_holder {margin-top: 7%; margin-bottom: 60px;}
    .rb_macbook {width: 700px; height: 430px; right: 0;}

    img.rb_main_logo_cropped {width: 50%;}

    .navbar-default .navbar-toggle {margin-top: 30px;}

    a.navbarhex {height: 40px; width: 174px; font-size: 1rem; padding-top: 16px; line-height: 1.6 !important; margin-bottom: 12px;}
    a.standard_linx {font-size: 1rem;}

    .rb_navstripe {top: 0; float: right; padding-right: 20px;}

    .navbar-nav > li > .dropdown-menu > li > a:hover {color: #8fc93a !important;}
}

@media screen and (max-width: 680px){
    .h_banner {margin-top: 32%;}

    .h_banner h1 {font-size: 48px;}
    .h_banner h4 {font-size: 20px;}

    .rb_macbook {width: 625px; height: 360px;}
}

@media screen and (max-width: 603px){
    .h_banner {margin-top: 40%;}

    .h_banner h1 {font-size: 48px;}
    .h_banner h4 {font-size: 20px;}

    .rb_macbook {width: 565px; height: 330px;}
}

@media screen and (max-width: 535px){
    .h_banner {margin-top: 42%;}

    .h_banner h1 {font-size: 42px;}
    .h_banner h4 {font-size: 18px;}

    .rb_macbook {width: 505px; height: 310px;}
    .macbook_holder {margin-bottom: 85px;}
}

@media screen and (max-width: 500px){
    .rb_macbook {width: 450px;}
}

@media screen and (max-width: 469px){
    .rb_macbook {width: 430px; height: 270px;}
    a.hexaplay {left: 44%;}

    small.uppermost_user_info {float: left;}
}

@media screen and (max-width: 430px){
    .rb_macbook {width: 390px;}
}

@media screen and (max-width: 414px){
    .rb_macbook {width: 380px; height: 240px;}
    img.rb_main_logo_cropped {width: 38%;}
}

@media screen and (max-width: 380px){
    .h_banner {margin-top: 50%;}
    .rb_macbook {width: 350px; height: 220px;}
    a.hexaplay {width: 46px; height: 46px;}
}

@media screen and (max-width: 350px){
    .rb_macbook {width: 310px; height: 210px;}
}

@media screen and (max-width: 334px){
    .rb_macbook {width: 285px; height: 195px;}
    a.hexaplay {width: 36px; height: 36px;}

    a.help_with_upload {font-size: 0.77rem; line-height: 2.6;}
    .lifesaver {font-size: 1.6rem;}
}




/* • • • • • • • */




/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* -------- LOOKING FOR AREA ---------- */
/* !!!!!!!!!!!!!!!!!!!!!!!! */



/* >>>>> SM/XS <<<<< */
@media screen and (max-width: 991px){
    .looking_for_inner_box {margin-top: 25%;}
}

@media screen and (max-width: 860px){
    .newsletter_hex {width: 830px;}
}

@media screen and (max-width: 810px){
    .newsletter_hex {width: 800px;}
}

@media screen and (max-width: 767px){
    .looking_for_area {min-height: 885px;}
    .looking_for_inner_box {margin-top: 28%;}
    .newsletter_hex {width: 760px; bottom: -11%;}
    .looking_for_form {padding-top: 16px;}
    .lookingfor_submit_btn {bottom: -90px;}
}

@media screen and (max-width: 735px){
    .newsletter_hex {width: 730px;}
    h2.section_ttl {font-size: 32px;}
}

@media screen and (max-width: 710px){
    .newsletter_hex {width: 100%;}
    h2.section_ttl {font-size: 28px;}
}

@media screen and (max-width: 680px){
    .newsletter_hex {height: 180px; bottom: -104px;}
    input.rb_newletter_input {width: 80%;}
    .newsletter_hex h3 {font-size: 1.2rem;}
    .looking_for_area {min-height: 775px;}
}

@media screen and (max-width: 603px){
    .newsletter_hex h3 {position: relative; top: 7px; font-size: 1rem;}
    .newsletter_submit_btn {bottom: 26px;}
    h2.section_ttl {font-size: 26px;}
}

@media screen and (max-width: 545px){
    .newsletter_hex h3 {top: 0; font-size: 1.1rem;}

    .newsletter_hex {background-size: cover;}
    .newsletter_submit_btn {bottom: 17px;}
}

@media screen and (max-width: 450px){
    .looking_for_inner_box {margin-top: 40%;}
    h2.section_ttl {font-size: 22px;}
}

@media screen and (max-width: 414px){
    h2.section_ttl {font-size: 18px;}
    input.rb_newletter_input {width: 95%;}
    .newsletter_hex h3 {font-size: 1rem;}
    input.rb_newletter_input {font-size: 0.77rem;}
}

@media screen and (max-width: 366px){
    .looking_for_area {min-height: 700px;}
}




/* • • • • • • • */




/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* -------- POSTINGS ---------- */
/* !!!!!!!!!!!!!!!!!!!!!!!! */



/* >>>>> SM/XS <<<<< */
@media screen and (max-width: 1255px){
    .octagons_holder {padding-top: 30px;}
}

@media screen and (max-width: 1240px){
    .postings_area_skewed {margin-top: -6%;}
}

@media screen and (max-width: 1160px){
    .postings_area_skewed {margin-top: -16%;}
    .octagons_holder {padding-top: 25px;}
}

@media screen and (max-width: 1099px){
    .postings_area_str8 {padding-top: 100px;}
    .octa {width: 170px; height: 170px;}
    .octaboxx {margin-bottom: 70px;}
}

@media screen and (max-width: 991px){
    .octahex_btn {width: 145px; height: 34px; font-size: 0.77rem !important; line-height: 0.1 !important;}
    h4.octa_ttl {font-size: 1rem;}
    .octa {width: 130px; height: 130px;}
    .postings_area_skewed {min-height: 900px;}
}

@media screen and (max-width: 899px){
    h2.section_ttl_2 {font-size: 32px; margin-bottom: 16px;}
}

@media screen and (max-width: 767px){
    .octaboxx {width: 49%;}
    .octa {width: 200px; height: 200px;}
    .postings_area_skewed {min-height: 1800px;}
}

@media screen and (max-width: 490px){
    .octa {width: 150px; height: 150px;}
    .postings_area_skewed {min-height: 1600px;}
}

@media screen and (max-width: 366px){
    .octaboxx {width: 100%;}
    .octa {width: 205px; height: 205px;}
    .postings_area_skewed {min-height: 3300px;}
    .postings_area_str8 {padding-top: 45px;}
}




/* • • • • • • • */




/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* -------- WWA ---------- */
/* !!!!!!!!!!!!!!!!!!!!!!!! */



/* >>>>> SM/XS <<<<< */
@media screen and (max-width: 1370px){
    .whoweare_area {margin-top: -12%;}
}

@media screen and (max-width: 1255px){
    .whoweare_area {margin-top: -20%;}
}

@media screen and (max-width: 1150px){
    .whoweare_area {margin-top: -25%; padding-top: 18%;}
}

@media screen and (max-width: 991px){
    .whoweare_area {margin-top: -21%; padding-top: 25%;}

    .wwa_octa_box {padding-left: 0;}
    .octa_1, .octa_2 {height: 300px; width: 300px;}
    .octa_details {top: 45px;}
}

@media screen and (max-width: 899px){
    .whoweare_area {margin-top: -25%;}
}

@media screen and (max-width: 790px){
    .whoweare_area {margin-top: -26%;}
}

@media screen and (max-width: 767px){
    .octa_1, .octa_2 {height: 260px; width: 260px;}
    .octa_details {top: 35px;}
}

@media screen and (max-width: 680px){
    .whoweare_area {margin-top: -28%;}
}

@media screen and (max-width: 630px){
    .whoweare_area {margin-top: -32%;}
}

@media screen and (max-width: 540px){
    .whoweare_area {margin-top: -36%; min-height: 1115px;}
    .octa_details {clear: both; top: -22px; padding-left: 2px;}
    hr.micro_hr_xs {display: block; text-align: center;}
    .octa_details h2 {text-align: center;}
    .octa_details p {text-align: center;}
    .octa_1, .octa_2 {display: block; margin: 0 auto; float: none;}
    .wwa_octa_box {margin-bottom: 22px;}
}

@media screen and (max-width: 491px){
    .whoweare_area {margin-top: -39%;}
}

@media screen and (max-width: 450px){
    .whoweare_area {margin-top: -43%;}
}

@media screen and (max-width: 366px){
    .whoweare_area {margin-top: -100%; padding-top: 35%;}
}




/* • • • • • • • */




/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* -------- BLOG & FEATURED ---------- */
/* !!!!!!!!!!!!!!!!!!!!!!!! */




/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    .blog_info_holder {width: 92%;}
    h4.blog_ttl {width: 92%;}
    p.blog_preview_txt {width: 92%;}
    a.readmore_btn {width: 20%;}

    .f_octa_text_holder {padding-top: 13px; position: relative; left: 30px;}
    .category_rect {width: 77%;}
    a.f_seedetailz_btn {width: 36%;}
    .featured_details_boxx {margin-bottom: 38%;}
    hr.section_hr {margin-top: 105%;}
}

@media screen and (max-width: 991px){
    .blog_thumb {width: 100%; height: 350px;}
    .blog_info_holder {width: 100%;}
    h4.blog_ttl {width: 100%;}
    p.blog_preview_txt {width: 100%;}
    .all_blogs_btn {bottom: -130px;}

    .featured_holder {margin-top: 32%;}
    .f_octa_text_holder {left: 0; padding-top: 24px;}
    a.f_seedetailz_btn {width: 21%;}
    .featured_details_boxx {margin-bottom: 28%;}
    .f_octa {width: 144px; height: 144px;}
    .featured_box {min-height: 950px; height: auto;}
}

@media screen and (max-width: 767px){
    .category_rect {width: 100%;}
    hr.section_hr {margin-top: 8%;}
}

@media screen and (max-width: 715px){
    a.f_seedetailz_btn {width: 23%;}
    .f_octa {width: 124px; height: 124px;}
    .featured_details_boxx {margin-bottom: 35%;}
}

@media screen and (max-width: 671px){
    a.f_seedetailz_btn {width: 30%;}
    .f_octa {width: 121px; height: 121px;}
    .featured_holder {margin-top: 42%;}
}

@media screen and (max-width: 588px){
    .featured_details_boxx {margin-bottom: 38%;}
    .f_octa_text_holder {padding-top: 16px; padding-left: 24px;}
}

@media screen and (max-width: 551px){
    a.f_seedetailz_btn {width: 40%;}
    .f_octa_text_holder {padding-left: 32px;}
}

@media screen and (max-width: 499px){
    .f_octa {width: 100px; height: 100px;}
    .f_octa_text_holder {padding-left: 38px; padding-top: 12px;}
    .featured_box {min-height: 848px;}
}

@media screen and (max-width: 461px){
    a.f_seedetailz_btn {width: 55%;}
    a.readmore_btn {width: 26%;}
}

@media screen and (max-width: 414px){
    .f_octa_text_holder {padding-left: 45px; padding-top: 8px;}
    .featured_details_boxx {margin-bottom: 44%;}
    .featured_holder {margin-top: 55%;}
}

@media screen and (max-width: 390px){
    .featured_box {min-height: 1370px;}
    .octa_details_holder {width: 100%;}
    .f_octa {width: 150px; height: 150px; margin: 0 auto; display: block;}
    .f_octa_text_holder {padding-left: 0;}
    .f_octa_text_holder h4 {text-align: center;}
    .category_rect {text-align: center;}
    a.f_seedetailz_btn {text-align: center; display: block; margin: 0 auto; position: relative; top: 18px; margin-bottom: 75px;}
    .f_octa_text_holder {width: 100%;}
    .seemorejobs_btn {top: -70px;}
    .featured_holder {margin-top: 69%;}
}

@media screen and (max-width: 340px){
    a.readmore_btn {width: 30%;}
}




/* • • • • • • • */




/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* -------- FOOTER ---------- */
/* !!!!!!!!!!!!!!!!!!!!!!!! */




/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    img.footer_logo {width: 99%;}
}

@media screen and (max-width: 991px){
    .email_holder a {font-size: 0.8rem}
    .phone_holder a {font-size: 0.8rem;}
    ul.footer_linxx {padding-left: 8px;}
    ul.footer_linxx li a {font-size: 0.8rem;}
    .footer_hex_btn_green {width: 180px;}
    .footer_hex_btn_white {width: 180px;}
    .bottommost_stripe {bottom: -40px;}
    ul.sozialz:last-child {margin-right: -45px;}
}

@media screen and (max-width: 767px){
    img.footer_logo {width: 100%;}
    .email_holder a {font-size: 0.8rem}
    .phone_holder a {font-size: 0.8rem;}
    ul.footer_linxx {padding-left: 8px;}
    ul.footer_linxx li a {font-size: 0.8rem;}
    .footer_hex_btn_green {width: 164px;}
    .footer_hex_btn_white {width: 164px;}
    .bottommost_stripe {bottom: -40px;}
    ul.sozialz:last-child {margin-right: -15px;}
}

@media screen and (max-width: 715px){
    .footer_hex_btn_green {position: relative; right: 9%;}
    .footer_hex_btn_white {position: relative; right: 9%;}
}

@media screen and (max-width: 666px){
    .footer_hex_btn_green {position: relative; right: 22%;}
    .footer_hex_btn_white {position: relative; right: 22%;}
}

@media screen and (max-width: 651px){
    ul.footer_linxx li a {font-size: 0.7rem;}
}

@media screen and (max-width: 620px){
    footer.rb_footer {min-height: 580px;}

    .footer_logo_holder {width: 99%;}
    img.footer_logo {width: 55%; display: block; margin: 0 auto;}
    .phone_holder {display: inline-block; text-align: center; width: 100%;}
    .phone_holder a {font-size: 1.2rem;}
    .footer_phone_icon {font-size: 1.7rem;}
    .email_holder {display: inline-block; text-align: center; width: 100%; margin-bottom: 38px;}
    .email_holder a {font-size: 1.2rem;}
    .footer_email_icon {font-size: 1.7rem;}

    .footer_linxx_holder {width: 35%;}
}

@media screen and (max-width: 530px){
    footer.rb_footer {min-height: 710px;}

    .footer_linxx_holder {width: 49%; margin-bottom: 24px;}
    ul.footer_linxx li a {font-size: 0.89rem;}

    .footer_buttons_holder {width: 100%;}
    .footer_hex_btn_green {right: 0; display: block; margin: 0 auto;}
    .footer_hex_btn_white {right: 0; display: block; margin: 0 auto; position: relative; top: 14px;}
}

@media screen and (max-width: 508px){
    footer.rb_footer {min-height: 755px;}

    .microtext_holder {width: 100%;}
    .socialz_holder {width: 100%; display: inline-block; text-align: center;}
    .bottommost_stripe {height: 80px; bottom: -60px;}
    small.microtext {display: block; text-align: center;}
    ul.sozialz {float: none !important; text-align: center; display: inline-block;}
}

@media screen and (max-width: 444px){
    footer.rb_footer {min-height: 755px;}
    img.footer_logo {margin-bottom: 22px;}
}

@media screen and (max-width: 362px){
    footer.rb_footer {min-height: 770px;}
    ul.footer_linxx li a {font-size: 0.8rem;}

    .footer_hex_btn_green {width: 190px;}
    .footer_hex_btn_white {width: 190px;}
}

@media screen and (max-width: 334px){
    ul.footer_linxx li a {font-size: 0.7rem;}
}






/* • • • • • • • */




/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* -------- MODAL ---------- */
/* !!!!!!!!!!!!!!!!!!!!!!!! */




/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1140px){
    .modal-dialog.rb_videomodal {width: 75%;}
}

@media screen and (max-width: 603px){
    .modal-dialog.rb_videomodal {width: 85%;}
}

@media screen and (max-width: 475px){
    .modal-dialog.rb_videomodal {margin-top: 50%;}
}

@media screen and (max-width: 404px){
    .modal-dialog.rb_videomodal {width: 92%;}
}






/* • • • • • • • */



/* • • • • • • • • • • • • • • • • • • • • • • • • */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* ABOUT */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* • • • • • • • • • • • • • • • • • • • • • • • • */

/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* -------- Navigation Bar ---------- */
/* !!!!!!!!!!!!!!!!!!!!!!!! */



/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    /*#rb_bcollapse_2 {top: 0;}*/
}

@media screen and (max-width: 1115px){
    img.rb_main_logo_inner {display: none;}
    img.rb_main_logo_cropped_inner {display: block; width: 37%;}

    #rb_bcollapse_2 {top: 30px;}
}

@media screen and (max-width: 1064px){
    #rb_bcollapse_2 {top: -17px;}
}

@media screen and (max-width: 815px){
    ul.rb_navstripe_inner li {margin-right: 5px;}
}

@media screen and (max-width: 767px){
    .about_area {padding-top: 88px;}
    #rb_bcollapse_2 {top: 53px;}
    .rb_navstripe_inner {top: 0; float: right; padding-right: 20px;}
    .about_hex_holder {padding-top: 46px; text-align: center;}
    .about_hex {display: inline-block; text-align: center;}
}





/* • • • • • • • */




/* • • • • • • • • • • • • • • • • • • • • • • • • */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* SIGN IN */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* • • • • • • • • • • • • • • • • • • • • • • • • */

/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* -------- Sign In Box ---------- */
/* !!!!!!!!!!!!!!!!!!!!!!!! */



/* >>>>> SM/XS <<<<< */
@media screen and (max-width: 699px){
    .signin_boxx {width: 80%;}
}

@media screen and (max-width: 485px){
    .signin_boxx {width: 95%;}
    .signup_suggestion_holder p {font-size: 0.8rem;}
}

@media screen and (max-width: 380px){
    .signin_form_group {width: 90%;}
    .submit_btn_holder {width: 90%;}
}

@media screen and (max-width: 365px){
    .signup_suggestion_holder p {font-size: 0.7rem;}
}







/* • • • • • • • */





/* • • • • • • • • • • • • • • • • • • • • • • • • */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* SIGN IN */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* • • • • • • • • • • • • • • • • • • • • • • • • */

/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* -------- Sign In Box ---------- */
/* !!!!!!!!!!!!!!!!!!!!!!!! */



/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 991px){
    .signup_boxx {width: 95%;}
}

@media screen and (max-width: 767px){
    .signup_boxx {min-height: 850px;}
}

@media screen and (max-width: 530px){
    .submit_btn_holder_2 {width: 50%;}
}

@media screen and (max-width: 396px){
    .submit_btn_holder_2 {width: 60%;}
    label.l3l.l3l_secondary {font-size: 0.7rem;}
}

@media screen and (max-width: 340px){
    .signup_boxx {min-height: 880px;}
    br.invisible_break {display: block;}
}







/* • • • • • • • */





/* • • • • • • • • • • • • • • • • • • • • • • • • */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* CONTACT  */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* • • • • • • • • • • • • • • • • • • • • • • • • */

/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* -------- Contact Form Box ---------- */
/* !!!!!!!!!!!!!!!!!!!!!!!! */



/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 991px){
    .contact_boxx {width: 95%;}
}

@media screen and (max-width: 699px){
    p.support_info_txt {font-size: 1rem;}
}

@media screen and (max-width: 599px){
    p.support_info_txt {font-size: 0.9rem;}
}

@media screen and (max-width: 560px){
    br.invisible_break_2 {display: block;}
}

@media screen and (max-width: 340px){
    p.support_info_txt {font-size: 0.8rem;}
}





/* • • • • • • • */





/* • • • • • • • • • • • • • • • • • • • • • • • • */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* POST A JOB  */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* • • • • • • • • • • • • • • • • • • • • • • • • */

/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* -------- Post a Job Box ---------- */
/* !!!!!!!!!!!!!!!!!!!!!!!! */



/* >>>>> SM/XS <<<<< */

@media screen and (max-width: 1199px){
    .post_a_job_boxx {width: 85%;}
}

@media screen and (max-width: 991px){
    label.lbl_datepikker {font-size: 0.77rem;}
}

@media screen and (max-width: 767px){
    .submit_btn_holder_3 {padding-top: 4px;}
    label.lbl_datepikker {font-size: 0.9rem;}
}

@media screen and (max-width: 530px){
    .submit_btn_holder_3 {width: 50%;}
}

@media screen and (max-width: 414px){
    .post_a_job_boxx {width: 98%;}
}

@media screen and (max-width: 396px){
    .submit_btn_holder_3 {width: 60%;}
}






/* • • • • • • • */





/* • • • • • • • • • • • • • • • • • • • • • • • • */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* MANAGE JOB POSTINGS  */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* • • • • • • • • • • • • • • • • • • • • • • • • */

/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* -------- Admin Pseudotable ---------- */
/* !!!!!!!!!!!!!!!!!!!!!!!! */



/* >>>>> SM/XS <<<<< */
@media screen and (max-width: 1199px){
    a.rb_admin_tool_control {margin-right: 6px;}
    .edit_ctrl {position: relative; left: 12px;}
}

@media screen and (max-width: 991px){
    .pseudo_ttl h5 {font-size: 0.8rem;}
    .edit_ctrl {left: initial;}

    .rb_admin_stripe {height: 70px; padding-top: 25px;}
    .admin_controls_holder {top: -22px;}
}

@media screen and (max-width: 767px){
    small.pseudo_ttl_xs {display: block;}
    .manage_job_postings_area {padding-left: 8px; padding-right: 8px;}

    .titles_well {display: none;}
    .rb_main_pseudotable {padding-top: 16px;}
    .pseudo_ttl {display: none;}
    .rb_admin_stripe {min-height: 190px; height: auto; padding-bottom: 2px;}
    .admin_status_holder {padding-left: 2px;}
    .admin_jobviews_holder, .admin_jobdate_holder {padding-left: 2px;}
    .admin_jobapplied_holder {padding-left: 2px;}
    span.active_indicator {display: block; float: none; clear: both; margin-top: 2px; margin-bottom: 20px;}
    .admin_controls_holder {padding-left: 2px; padding-top: 22px; float: none !important;}
    a.rb_admin_tool_control {float: none !important;}
    .postings_toolbox {float: none !important;}
}

@media screen and (max-width: 530px){
    .postings_toolbox_holder {height: 120px;}
    button.rb_admin_renew_btn {display: block; clear: both; width: 33%; margin-bottom: 12px;}
    button.rb_admin_delete_btn {display: block; clear: both; width: 33%; margin-bottom: 12px;}
}

@media screen and (max-width: 430px){
    button.rb_admin_renew_btn {display: block; clear: both; width: 42%; margin-bottom: 12px;}
    button.rb_admin_delete_btn {display: block; clear: both; width: 42%; margin-bottom: 12px;}
}

@media screen and (max-width: 396px){
    button.rb_admin_renew_btn {display: block; clear: both; width: 52%; margin-bottom: 12px;}
    button.rb_admin_delete_btn {display: block; clear: both; width: 52%; margin-bottom: 12px;}
}

@media screen and (max-width: 350px){
    button.rb_admin_renew_btn {display: block; clear: both; width: 65%; margin-bottom: 12px;}
    button.rb_admin_delete_btn {display: block; clear: both; width: 65%; margin-bottom: 12px;}
}









